body {
    background: linear-gradient(white, black);
    text-align: center;
}

.jumbotron {
    background: none;
    width: 100%;
}

h1 {
    color: darkgreen;
}

img {
    height: 350px;
    width: 320px;
}

.col-md-6 {
    height: 350px;
}

.row {
}

div#mainsection.col-md-12 {
    height: 1200px;
}

div#link.col-md-12{
    height: 1200px;
}


div#photo.col-md-12 {
    height: 1200px;
    background: url('images/socks.jpeg')no-repeat center center;
}

div#game.col-md-12{
    height: 1200px;
}

.scrollhanger {
    background: url('images/hangers.jpeg')no-repeat center center;
}



